*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#root {
    padding: 80px 0;
    text-align: center;
    display: block;;
}

form {
    width: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #00064f;
    padding: 35px 35px;
    border-radius: 30px;
}

.fields {
    margin: 20px 10px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
}

.button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}

.button:hover {
    background-color: aqua;
}