*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

article, aside, footer, header, nav, section, main {
    display: block;
}

.header {
    background: #0c0f38;
    width: 100%;
    padding: 20px 40px;
    position: fixed;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.logo-box {
    flex: 0 0 25%;
    max-width: 25%;
}

.logo {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

.logo a img {
    width: 70px;
}

.menu-box {
    flex: 0 0 75%;
    max-width: 75%;
}

nav {
    display: block;
    float: right;
}

.menu {
    display: flex;
    padding: 25px 20px;
}

.nav-link {
    padding: 0 25px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.nav-link:hover {
    color: #fdd430;
}

.banner {
    background: #0c0f38 no-repeat;
    padding-bottom: 200px;
    padding-top: 200px;
}

.text-banner {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    padding-top: 50px;
}

.img-banner {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.text-banner h1 {
    color: #fff;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 25px;
    font-weight: bold;
}

.text-banner span {
    color: #fdd430;
    font-size: 40px;
    line-height: 35px;
    font-weight: bold;
}

.text-banner p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 40px 0;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-block {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

.title-block h2 {
    font-size: 45px;
    color: #0c0f38;
    line-height: 40px;
    font-weight: bold;
    padding: 30px;
}

h2 p {
    padding: 10px;
}

article {
    flex: 0 0 33%;
    max-width: 33%;
    padding-right: 15px;
    padding-left: 15px;
}

.block-border {
    text-align: center;
    border-radius: 20px;
    border: #cecfd7 solid 2px;
    padding: 40px;
    margin-bottom: 30px;
}

.block-border:hover {
    background-color: #51567f;
}

.block-border i {
    background-color: #fdd430;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
    padding-top: 19px;
}

.block-border h3 {
    padding: 20px 0 20px 0;
    font-size: 20px;
    line-height: 25px;
    color: #0c0f38;
    font-weight: 500;
}

.reviews {
    background-color: #0c0f38;
    display: flex;
}

.reviews-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 100px;
    color: #fff;
}

.reviews-text h2 {
    font-size: 45px;
}

.reviews-border {
    text-align: center;
    border-radius: 20px;
    border: #cecfd7 solid 2px;
    padding: 40px;
    margin-bottom: 30px;
    background-color: #fff;
}

.reviews-border img {
    background-color: #fdd430;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.reviews-border h3 {
    padding: 20px 0 20px 0;
    font-size: 20px;
    line-height: 25px;
    color: #0c0f38;
    font-weight: 500;
}

.main_form {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-block {
    background: #0c0f38;
    padding: 35px 35px;
    border-radius: 30px;
}

.form-field {
    width: 450px;
}

.contact-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 100px;
    color: #0c0f38;
}

.contact-text h2 {
    font-size: 45px;
}

input {
    border: #fff solid 1px;
    padding: 0 19px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 100%;
    height: 52px;
    font-size: 16px;
}

select {
    border: #fff solid 1px;
    padding: 0 19px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 100%;
    height: 52px;
    font-size: 16px;
}

textarea {
    margin-bottom: 25px;
    padding: 10px 19px;
    width: 100%;
    border: #fff solid 1px;
    border-radius: 15px;
    height: 100px;
}

button {
    font-size: 16px;
    background-color: #fff;
    color: #fdd430;
    padding: 12px 70px;
    border-radius: 30px;
}

button:hover {
    background-color: #fdd430;
    color: #fff;
}

.contact {
    background-color: #0c0f38;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-info {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 80px 48px 28px;
    box-sizing: border-box;
    font-size: 30px;
    color: #ffffff;
}

.contact-map {
    flex: 0 0 60%;
    max-width: 60%;
}

.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
